@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --theme-color: #28BCB2;
    --minion-yellow: #fcc100;
    --pirate-yellow: #283618;
}

img {
    margin-left: 0;
    transform: scaleX(-1);
    height: auto;
    max-width: 800px;
}

.mid-logo {
    margin-left: 0;
    padding-left: 3rem;
}

.mid-img {
    padding-right: 3rem;
    margin-left: 0;
}

.thghtext-2 {
    color: #28BCB2;
}

.thghttext {
    padding-top: 8rem;
    font-size: 1rem;
    color: #333c66;
    line-height: auto;
    font-weight: 800;
    letter-spacing: -.02em;
    max-width: 18em
}



/*------------------------------------------------------projects---------------------------------------------------- */
.h2-projects {
    font-weight: 700;
    text-align: left;
    height: 5rem;
    padding: 4rem 1rem 0rem 5rem;
    font-size: 3rem;
    color: #28BCB2;
}

.projects-wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;

}




/*------------------------------------------------------projects--over------------------------------------------------ */












.resumetext {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 1.5em;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.container {
    height: 5rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1.5rem;

}

body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    background-color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased
}

.header {
    padding-top: 1.5rem;
}

.navbar {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff
}

.first_name {
    fill: var(--theme-color)
}

.last_name {
    fill: var(--theme-color)
}

a {

    color: #28BCB2;
    text-decoration: none;
}

.navbar__links {
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    display: flex;

}

.navbar__links-item {
    text-decoration: none;
}

.navbar__links-item:not(:last-child) {
    padding-right: 2rem
}


.section {
    position: relative;
    padding-top: 4rem;
display: contents;

}

.section__container {
    position: relative;
    z-index: 2;
}



.middle-content {
    display: flex;
    justify-content: center
}

.middle-text {


    display: block;

}

.hero_label {

    display: block;
    font-size: 15pt;
    letter-spacing: .03em;
    font-weight: 600;
    text-transform: uppercase;
    color: #8895bf
}

.profile-photo {
    display: block;
}

.centered-block {
    margin-top: 10rem;
    align-items: center;
}

.hero__title {
    margin-top: 0;
    font-size: 3rem;
    color: #333c66;
    line-height: 45pt;
    font-weight: 800;
    letter-spacing: -.02em;
    max-width: 11em
}

.blog__title {
    margin-top: 0;
    font-size: 1.85rem;
    color: #333c66;
    line-height: 35pt;
    font-weight: 400;
    letter-spacing: -.02em;
    max-width: 19em
}

.hero__title-intro {
    font-size: 4rem;
    margin-bottom: 3rem;
    color: var(--theme-color);
    font-weight: 700;
    letter-spacing: -.02em;
    max-width: 11em
}

.section-input {
    padding-top: 2rem;
    padding-left: 5rem;
    display: block;
    justify-content: left;
}

.abouttext {
    font-size: 1.5em;
    max-width: 35em;
    margin-left: 5rem;
    margin-right: auto;
    max-width: 1000px;

}



.input-label {
    font-size: 18pt;
    font-weight: 600;
    display: flex;
    font-size: large;
    font-weight: 600;
}

h2 {
    text-align: center;
    height: 5rem;

    padding: 3rem 1rem 0rem 1rem;
    font-size: 3rem;
    color: #28BCB2;

}

.technicalskillbg {
    padding: 20px auto;
    background-color: #f5f5f5;
}

.wrapper {
    padding: 0 220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blog-wrapper {
    padding: 0 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.no-bullets {

    list-style: none;
    display: flex;


}

.no-bullets-small {
    padding-left: 0;
    list-style: none;
    display: flex;
}

h3 {
    font-size: 2.1rem;
    color: #333c66;
}


.blog-title {
    line-height: 70px;
    font-size: 4rem;
    color: #333c66;

}

.blog-middle-content {
    padding-top: 8rem;
    display: flex;
    justify-content: left;
}





a {
    text-decoration: none;
}



body {
    font-family: "Montserrat", sans-serif;
    min-width: 100vw;
}


.container {
    text-align: center;
}

.heading {
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-size: 50px;
    height: 80px;
    background-color: blue;
    color: #f9fd00;
}

.description {
    font-size: 25px;
    margin: 2rem;
    font-weight: bold;
    margin-bottom: 80px;
}

.input-colum{
    display: none;
}


.input {

    height: 22px;
    font-family: montserrat;
    font-size: 14px;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem 1rem 1rem 0;
    border: 2px solid rgb(36, 173, 214);
    border-radius: 20px;
    width: 100%;
    max-width: 258px;

}

#next-button {
    background: rgb(6, 125, 141);
    border: none;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    font-family: montserrat;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: inline-block;
    color: #ffffff;
}

#next-button:hover {
    background: rgb(0, 247, 255);
    border: none;
    color: rgb(4, 77, 90);
    
    border-radius: 10px;
    
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: inline-block;
    transition: ease-in-out .3s;
}

#check-button {
    background: rgb(6, 125, 141);
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    font-family: montserrat;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: inline-block;
    color: #ffffff;
}

#check-button:hover {
    background: rgb(0, 247, 255);
    border: none;
    color: rgb(4, 77, 90);
    padding: 0.7rem 1rem;
    border-radius: 10px;
    font-family: montserrat;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: inline-block;
    transition: ease-in-out .5s;
}

#error-message {
    display: block;
    font-size: larger;
    margin: 1rem 0 0;
}

/* ===========================================================table================================================= */
.change-table {
    width: 90%;
    
    border-collapse: collapse;
    margin: 1rem 1rem 2rem 0rem;
      
}
table{
    padding;
}
.caption {
    font-weight: 600;
    margin:  0;
    font-size: 1.5rem;
    padding-bottom: 3rem;
    font-weight: 500;
}

th,
td {
    border: 2px solid rgb(11, 130, 134);
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
}







.footer {
    margin: 0px;
    background-color: var(--theme-color);

}

.footer__inner {
    margin: 0;
    padding: em;
    display: flex;
}

.footer__section {

    padding-top: 1em;
    margin-bottom: 1em;

    font-weight: 500;
    font-size: 1.5em;
    color: ivory;
    margin-bottom: 0px;
    display: block;

}

.footer__social-list {
    margin-top: 1.1em;
    padding-left: 0;
    list-style: none;
    display: inline-flex;
}

.footer__social-link {
    text-decoration: none;
    padding: 10px;

}

.footer__social-icon {
    height: 40px;
    color: white;
    fill: #fff;

}

.footer__social-icon:hover {
    fill: #333c66;
    color: #333c66
}

a:hover {
    margin-left: .5rem;
    display: inline-block;
    padding: .35em .6em;
    border-radius: .25rem;
    background-color: rgba(51, 61, 102, .07);
    white-space: nowrap;
    font-weight: 600;
    font-size: .975rem;
    color: rgba(51, 61, 102, .8);

    transition: ease-out .2s;
}


a:active {
    margin-left: .5rem;
    display: inline-block;
    padding: .35em .6em;
    border-radius: .25rem;
    background-color: rgba(51, 61, 102, .07);
    line-height: 1;
    white-space: nowrap;
    font-weight: 600;
    font-size: .975rem;
    color: rgba(51, 61, 102, .8);


}